html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

#calendar {
  max-width: 900px;
  margin: 40px auto;
}

/*
i wish this required CSS was better documented :(
https://github.com/FezVrasta/popper.js/issues/674
derived from this CSS on this page: https://popper.js.org/tooltip-examples.html
*/

.popper,
.tooltip {
  position: absolute;
  z-index: 9999;
  background: rgba(33,42,68);
  color: white;
  width: 150px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(33,42,68);
  padding: 10px;
  text-align: center;
}
.style5 .tooltip {
  background: rgba(33,42,68,0.5);
  color: #FFFFFF;
  max-width: 200px;
  width: auto;
  font-size: .8rem;
  padding: .5em 1em;
}
.popper .popper__arrow,
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
  border-color: #192231;
}
.style5 .tooltip .tooltip-arrow {
  border-color: #1E252B;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
  margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.tooltip[aria-hidden="false"] {
  opacity: 1;
}

.navbar {
  background-color: #286DA8;
  color: white;
  border-radius: 0px;
}


/*.dropbtn {
  background-color: white;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  align-items: right;
  padding-top: 20px;
  position: absolute;
  background-color: #FFFFFF;
  width: 415px;
  font-size: 11px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  align-items: right;

}
.notifications {
  color: black;
  list-style: none;
  text-align: left;
  padding-left: 10px;
  font-weight: bold;


}



#view-party {
  display: inline; 
}

.dropdown:hover .dropdown-content {display: block;}

/*.dropdown:hover .dropbtn {background-color: #98878F;}*/

li {

  list-style-type: none;
  padding-top:10px;
  padding-bottom: 10px;
}

ul {
  padding-left:0px;
}

thead{
  font-family: ;
  text-transform: uppercase;
}
.fc table{
  /*background-color: #FFFFFF;*/

 

}

.fc td {
    /*lines of calendar*/
    /*background-color: rgba(0,0,0);*/
    

}

.fc-today {
    background: #f1f1f1 !important;
}

div.fc-center{
  text-align: center;
}

/*.h-100{
  height:100%!important;
}*/

img.rounded-circle.profile-pic{

  align-self: center;
  display: flex;
  margin-right:0px;
  align-content: center;
  border-style: solid;
  border-color:rgba(214,198,32,.3);
  padding:5px;
  border-width: thin;

}

/*.rounded-circle{
  align-self: center;
}*/

/*div.container.my-4.h-100{
  align-content: center;
}*/

/*div.align-items-center{
  align-content: center;
  align-items:center;

}*/

.btn-secondary .search-hm{
  display: inline-block;
}

.hm-title{
  padding-top: 100px;
  font-weight: bold;
}

.housemate-list li{

/*  border-top:solid;
  border-width: thin;
  border-color:rgba(0,0,0,0.1);

*/  color: rgba(0,0,0,0.2);
    background-color: rgba(46,59,85,.3);
    border-radius: 5px;
    align-items: left;
    margin-top: 5px;
}

.housemate-list{
  color:rgba(255,255,255,0.3);
  padding-left:10px;
  text-align: left;

}

.housemate-list.hover {
  color:rgba(255,255,255,0.9);

}
.greeting{
  color:rgba(255,255,255,0.6);
  text-align: center;
  padding-top: 0px;
  font-weight: bold;
  /*border-bottom:solid;
  border-width: thin;
  border-color:rgba(255,255,255,0.3);*/
}



 i{
  padding-left:10px;
}
a.housemates{
  color:rgba(255,255,255,0.6);
}

li .notifications{
  text-align: left;
}


.notif-btns{
  align-items: right;
  /*margin-right:0px;*/
}

li.notifications{
  align-items: right;
}


aside{
  background-color: rgba(33,42,68);
}

div.container.side{
  background-color: rgba(33,42,68);
  margin:rgba(33,42,68);

}

aside.col-2.h-100.bg-light.d-flex.justify-content-center{
  background-color: rgba(33,42,68);
  padding:0;
  padding-bottom: 200%; 
  height:100%;
  overflow-y: hidden;
}

nav.navbar.navbar-expand-md.navbar-custom-theme{
  background-color: rgba(27,38,56);
  color:white;
}

a.nav-item.nav-link{
  color:white;
  opacity: .6;

}

a.navbar-brand{
   color:white;
   opacity: .6;
}


div.container.py-4.content{
 /* background-color: rgba(214,237,239);*/
  /*padding:0px;
  width:100%;*/
}

.btn-primary{
  background-color:#F81884;
  border: hidden;
}

.btn-primary:hover{
  background-color: #8B0046;
}

.btn-secondary:hover{
  background-color: #6C7E8E;
}

.btn-secondary.view-party:hover{
  background-color: #E0AD59;
}



.btn-secondary{
  background-color:#292950;
  border: hidden;
}
.btn-secondary.view-party{
  background-color: #F5CE28;
}

#view-party{
  padding-left: 0px;
  /*background-color: #F5CE28; */
}

div.container.py-4.content{
  background-color: url('uploads/doodles.png');
  background-attachment: fixed;
  filter: alpha(opacity=50);




}

section.h-100.mx-2.full-columns{
   background-attachment: fixed;
  filter: alpha(opacity=50);
  /*background-color: red;*/
}

div.row.h-100{
  /*background-color: rgba(230,246,250);*/
  /*background-image: url('uploads/let-there-be-sun.png');*/
  background-attachment: fixed;
  filter: alpha(opacity=50);
  background-color: white;


}


body{
  background-image: url('uploads/doodles.png');
  background-attachment: fixed;
  filter: alpha(opacity=50);


}

aside{
  position: fixed;
}



