<!DOCTYPE html>
<html>
<head>
<title>Roomies</title>
<head>
    <meta charset='utf-8' />

    <link href='/static/styles.css' rel='stylesheet' />
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <link href='/static/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='/static/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='/static/fullcalendar/timegrid/main.css' rel='stylesheet' />
    <link href='/static/fullcalendar/interaction/main.css' rel='stylesheet' />

    <script src='/static/fullcalendar/core/main.js'></script>
    <script src='/static/fullcalendar/daygrid/main.js'></script>
    <script src='/static/fullcalendar/timeGrid/main.js'></script>
    <script src='/static/fullcalendar/interaction/main.js'></script>
    <script src='/static/fullcalendar/moment.js'></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

 <!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/tooltip.js"></script>
    
  <script src='/static/notifications.js'></script>
  <script src='/static/helpers.js'></script>
  <script src="static/calendar.js"></script>

  <link
    href="../static/css/full-height-columns.css"
    rel="stylesheet"
  />
</head>
  
  
</head>

{% if session['name'] %}

<!-- Dark Navbar: dark bg, navbar-dark theme -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Roomies</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navExpandContent3"
  />
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navExpandContent3">
    <div class="navbar-nav">
      <a class="nav-item nav-link"href="/calendar">Home</a>
      <a class="nav-item nav-link" id="{{ session.user_id }}" href="/profile/{{ session.user_id }}">Profile</a>
      <div class="dropdown">
        <a class="nav-item nav-link dropbtn" id="">Notifications</a>
          <div class="dropdown-content">
            <ul class='notifications'>
            </ul>
          </div>
        </div>
        <a class="nav-item nav-link"href="/logout_process">Logout</a>
      </div>
    </div>
  </div>
</nav>

{% endif %}


<section class="h-100 mx-3 full-columns">
    <div class="row h-100">
        <aside class="col-3 h-100 bg-light d-flex justify-content-center">
            <div class="container my-4">

              {% block side %}{% endblock %}
            </div>
        </aside>


        <main class="col h-100 overflow-y">
            <div class="container py-4 content">
              {% block content %}{% endblock %}
            </div>
        </main>
    </div>
</section>

<script src='/static/event_request_hover.js'></script>

</html>






















