<!DOCTYPE html>
<html>
<head>
<title>Roomies</title>
<head>
    <meta charset='utf-8' />

    <link href='/static/styles.css' rel='stylesheet' />

    <link href='/static/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='/static/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='/static/fullcalendar/timegrid/main.css' rel='stylesheet' />
    <link href='/static/fullcalendar/interaction/main.css' rel='stylesheet' />

    <script src='/static/fullcalendar/core/main.js'></script>
    <script src='/static/fullcalendar/daygrid/main.js'></script>
    <script src='/static/fullcalendar/timeGrid/main.js'></script>
    <script src='/static/fullcalendar/interaction/main.js'></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

   

</head>
<body>

    {% if session['name'] %}
    <h1>Hello, {{ session['name'] }}</h1>
       <a href="/logout_process">
            <button type="button">Logout!</button>
        </a>
    {% endif %}
    {% block content %}{% endblock %}
     <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        const eventList = $.get('/all_events.json', (res) =>{

        console.log("Event List: " + eventList);
        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
          defaultView: 'timeGridWeek',
          defaultDate: '2019-11-11',
          header: {
            left: 'prev,next today',
            center: 'title, addEventButton',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },

           // eventRender: function(info) {
           //      var popper = new popover(info.el, {
           //        title: info.event.extendedProps.author,
           //        placement: 'top',
           //        trigger: 'hover',
           //        container: 'body'
           //      });
           //    },

          selectable: true,
          events: res,
  
        select: function(info) {
          
          let startT = prompt('Enter Start Time: ', info.startStr);
          let endT = prompt('Enter End Time: ', info.endStr);
          console.log('endT: ' + endT)
          let eventType = prompt('Enter Event Type(Quiet hours, Bathroom, Party): ');



          const eventDetails = {
            'start': startT,
            'end': endT,
            'eventType': eventType
          };

          $.post('/add_event',eventDetails,(response) =>{
            alert(response);
          });

            calendar.addEvent({
                    title: eventType,
                    start: startT,
                    endTime: endT,
                    backgroundColor: '#90ee90',

                 
              });         
         
        },



          customButtons: {
            addEventButton: {
              text: 'add event...',
              click: function() {
                var dateStr = prompt('Enter a date in YYYY-MM-DD format');
                var date = new Date(dateStr + 'T00:00:00'); // will be in local time
                if (!isNaN(date.valueOf())) { // valid?
                  calendar.addEvent({
                    title: 'dynamic event',
                    start: date,
                    allDay: true
                  });
                  alert('Great. Now, update your database...');
                } else {
                  alert('Invalid date.');
                }
              }
            }
           }
 
         


        });
      

        calendar.render();

      });
   
       });

    </script>
</body>
</html>