{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}
{% block side %}
<!-- <div class="profile-pic container" style="align-items: center;"> -->
    <div class="row align-items-center justify-content-center
               static-height" style="height:200px;">
        <div class="align-items-center">
    <img src={{user.profile_pic}} class="rounded-circle profile-pic" width="130" height="130">
    
    
</div>
</div>

<p class="greeting">House: {{ user.calendar.house_name }}</p>

<div class="housemate-list">

 <ul> 
    {% for housemate in user.get_housemates() %}
     <li>
      
        <a class="housemates" href="/profile/{{ housemate.user_id }}" id="{{ housemate.user_id }}">
        <i class="fas fa-user-friends"></i>
          {{ housemate.name }}
        </a></li>
   </span>  
    {% endfor %}
 </ul>
</div>



<form action="/add_housemates" method="POST" class="search-hm" style= "padding-top:200px;">
<div class="form-group">
  <input
    type="text"
    class="form-control"
    id="basicTextInputHelp"
    name="housemate_name"
    placeholder="Search"
  >
  <small class="form-text text-muted">
    Search for users by name
  </small>
</div>
    <!-- <input type="submit" class="btn-secondary search-hm"> -->
</form> 
{% endblock %}

{% block content %}

    <div id="calendar"></div>
    
{% endblock %}
