{% extends 'base.html' %}

{% block title %}Find Roomies{% endblock %}

{% block side %}

<form action="/find_calendar">
       <div class="form-group">
              <label for="basicTextInputHelp">Search:</label>
              <input
                type="text"
                class="form-control"
                id="basicTextInputHelp"
                name="house_name"
              >
              <small class="form-text text-muted">
                Search for existing calendar by House Name.
              </small>
            </div>
        <input type="submit" class="btn-primary" value="find">
          <a href="/create_cal">
          <button type="button" style="margin-top:50px; margin-left:15px;" class="btn-primary">Back To Create Calendar
          </button>
        </a>     
</form>
{% endblock %}

{% block content %}

{% if cal_list %}

<div class="row card-deck" style="display: inline-block;">
  {% for cal in cal_list %}
  <div class="col-3" style="display: inline-block;">
    <div class="card" style="width: 18rem; display: inline-block;">
      <img src="../static/uploads/calendar.jpg" style="width: 17.9rem;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ cal.house_name }}</h5>
        <small class="form-text text-muted" style="padding-bottom: 10px;">ID: {{ cal.cal_id }}</small>
        <button class="request_access btn-primary" id="{{ cal.cal_id }}">Request Access</button>
      </div>
      <p class="card-body">Housemates:</p>
      <div class="card-footer">
        <ul class="list-group list-group-flush">
          {% for housemate  in cal.user %}
            <li style="padding-left: 15px;">
              <img src="{{ housemate.profile_pic }}" class="rounded-circle" width="30" height="30">
              <a href="/profile/{{ housemate.user_id }}" id="{{ housemate.user_id }}">
                {{ housemate.name }}
              </a>
          </li> 
          {% endfor %}
        </ul>
      </div>
    </div>
    </div>
  </div>
 {% endfor %}
 </div>
 {% else %}
         <p>Sorry no calendars with that house name found!</p>
{% endif %}


<script src='/static/access.js'></script>

{% endblock %}














