{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

 <p>House name: {{ user.calendar.house_name }}</p>
 <p>Your housemates: </p>
 <div>
     <ul> 
        {% for housemate in user.get_housemates() %}
         <li>
            <a href="/">
              {{ housemate.name }}
            </a>
        </li>  
        {% endfor %}
     </ul>

     <script>
         $.get('/get_notifications.json',(response) => {
            console.log(Object.values(response));
            //Object.values(response)
             for (const notif in Object.values(response)){
                console.log(notif);
                // let id = notif.id;
                // console.log(id);
                $('#notifications').append(`<li>'$${notif.id}'</li>`);
            };
                
         });
     </script>

     <div>
         <p>Notifications: </p>
          <ul id='#notifications'>
            <li></li>
             
          </ul>

     </div>

     <div id="calendar"></div>

    <p>Search for and add housemates: </p>

    <form action="/add_housemates" method="POST">
        Search name:<input type="text" name="housemate_name">
        <input type="submit">
    </form>   
</div>

{% endblock %}