{% extends 'base.html' %}

{% block title %}Find Roomies{% endblock %}

{% block content %}


<div>
  <h2>Calendars</h2>
    {% if cal_list %}
   
    <ul>
        {% for cal in cal_list %}
        <li>
              {{ cal.house_name }} ({{ cal.cal_id}})
             <button class="request_access" id="{{ cal.cal_id }}">Request Access</button>
        </li>
        {% endfor %}
    </ul>
    
    {% else %}
         <p>Sorry no calendars with that house name found!</p>
    {% endif %}
</div>
<script src='/static/notifications.js'></script>
{% endblock %}