{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block side %}

<!-- <a href="/create_cal">
    <button type="button" class="btn-primary">Create New Calendar</button>
</a> -->
<form action="/find_calendar">
       <div class="form-group">
              <label for="basicTextInputHelp">Search:</label>
              <input
                type="text"
                class="form-control"
                id="basicTextInputHelp"
                name="house_name"
              >
              <small class="form-text text-muted">
                Search for existing calendar by House Name.
              </small>
            </div>
        <input type="submit" class="btn-primary" value="find">
</form>
        
{% endblock %}

{% block content %}
<h2>Create Your Calendar!</h2>
<form action="/create_cal_process" method="POST">
    House name: <input type="text" name="house_name" required>
    House Address: <input type="text" name="house_addr">
    <input type="submit">
</form>
 

{% endblock %}