{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block side %}

<div class="row align-items-center justify-content-center
           static-height" style="height:200px;">
    <div class="align-items-center">
<img src={{ user.profile_pic }} class="rounded-circle profile-pic" width="130" height="130">

    
</div>
</div>

<p class="greeting">No House</p>

<form action="/find_calendar">
       <div class="form-group">

              <input
                type="text"
                class="form-control"
                id="basicTextInputHelp"
                name="house_name"
              >
              <small class="form-text text-muted">
                Search for existing calendar by House Name.
              </small>
            </div>
        <input type="submit" class="btn-primary" value="find">
</form>
        
{% endblock %}

{% block content %}

<div class="row align-items-center justify-content-center" style="height:500px;">
    <div class="col-5">
        <div class="card mb-3" style="max-width: 400px;">
          <div class="card-header">Welcome to Roomies!</div>
          <div class="card-body form-group">
            <h5 class="card-title" style="margin-bottom: 25px;">Create New Calendar</h5>
            <form action="/create_cal_process" method="POST">
                <div>
                    <input type="text" class="form-control" style="margin-bottom: 25px;" placeholder="House Name" name="house_name" required>
                </div>
                <div>
                    <input type="text" class="form-control" placeholder="House Address" name="house_addr">
                    <small class="form-text text-muted" style="margin-bottom: 25px;">Other users will not see your address.</small>
                </div>
                <input class="btn-primary" type="submit">
            </form>
          </div>
        </div>
    </div>
</div>

{% endblock %}