{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block side %}

<a href="/create_cal">
    <button type="button" class="btn-primary">Create New Calendar</button>
</a>
<p>Find House: </p>
<form action="/find_calendar">
    <input type="text" name="house_name">
    <input type="submit" class="btn-primary" value="find">
</form>
        
{% endblock %}

{% block content %}
<h2>Create Your Calendar!</h2>
<form action="/create_cal_process" method="POST">
    House name: <input type="text" name="house_name" required>
    House Address: <input type="text" name="house_addr">
    <input type="submit">
</form>
 

{% endblock %}