{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}


{% block side %}

<p class="lead" >House name: {{ user.calendar.house_name }}</p>
 <p>Your housemates: </p>
 <ul> 
    {% for housemate in user.get_housemates() %}
     <li>
        <img src="{{ housemate.profile_pic }}" class="rounded-circle" width="30" height="30">
        <a href="/profile/{{ housemate.user_id }}" id="{{ housemate.user_id }}">
          {{ housemate.name }}
        </a>
    </li>  
    {% endfor %}
 </ul>

<p>Search for and add housemates: </p>

<form action="/add_housemates" method="POST">
    Search name:<input type="text" name="housemate_name">
    <input type="submit" class="btn-secondary">
</form> 
{% endblock %}


{% block content %}
<div class="container-fluid">
 <img src="{{ party.image }}" alt="" width="500" height="333">
</div>
<form action="/upload_party_pic/{{ party.event_id }}" method="POST" enctype="multipart/form-data">
<input type="file" name="file">
<input type="submit" value="Upload">
</form>

<h1>{{ party.title }}</h1>
<h5>{{ start }}{{ end }}</h5>

<form action="/edit_event_des/{{ party.event_id }}" method="POST">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Edit Event Description</label>
    <textarea name="event_des" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="{{ party.description }}"
    ></textarea>
  </div>
  <input type="submit" value="Submit Changes">
</form>

{% endblock %}




