{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block side %}

 <div class="row align-items-center justify-content-center
               static-height" style="height:200px;">
        <div class="align-items-center">
    <img src={{user.profile_pic}} class="rounded-circle profile-pic" width="130" height="130">
    
    
</div>
</div>
<p class="greeting">User: {{ user.name }}</p>
{% if session['cal_id']%}
<p class="greeting">House: {{ user.calendar.house_name }}</p>
{% else %}
<p class="greeting">No House</p>
{% endif %}
<div class="housemate-list">

 <ul> 
    {% for housemate in user.get_housemates() %}
     <li>
      
        <a class="housemates" href="/profile/{{ housemate.user_id }}" id="{{ housemate.user_id }}">
        <i class="fas fa-user-friends"></i>
          {{ housemate.name }}
        </a></li>
   </span>  
    {% endfor %}
 </ul>
</div>



<form action="/add_housemates" method="POST" class="search-hm" style= "padding-top:200px;">
<div class="form-group">
  <input
    type="text"
    class="form-control"
    id="basicTextInputHelp"
    name="housemate_name"
    placeholder="Search"
  >
  <small class="form-text text-muted">
    Search for users by name
  </small>
</div>

</form> 
{% endblock %}

{% block content %}

<div class="card mb-3" style="width: 800px; height: 300px">
  <div class="row no-gutters">
    <div class="col-md-5">

        <img src="{{ user.profile_pic }}" class="card-img rounded" style="height:298px; width:300px;">
     
  
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <h2 class="card-title" style="padding-top:130px;">{{ user.name }}</h2>
        <p class="card-text">Username: {{ user.username }}</p>
        <p class="card-text">{{ house_name }}</p>
        <a href="/profile/{{ session['user_id'] }}"><button class="btn btn-primary">Back to Profile</button></a>  
      </div>
    </div>
  </div>
  <div class="card-footer">
     
    <div class="form-group">
      <form action="/upload_file" method="POST" enctype="multipart/form-data">
        <label>
          Edit Profile Pic
        </label>
        <div class="custom-file" style="padding: 25px;">
          <input type="file" class="custom-file-input" id="customFile" name="file">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <input type="submit" class="btn-primary" value="Upload">
      </form>
    </div>
  </div>
</div>



<script src='/static/access.js'></script>


{% endblock %}