{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}


{% block side %}

<p class="lead" >House name: {{ user.calendar.house_name }}</p>
 <p>Your housemates: </p>
 <ul> 
    {% for housemate in user.get_housemates() %}
     <li>
        <img src="{{ housemate.profile_pic }}" class="rounded-circle" width="30" height="30">
        <a href="/profile/{{ housemate.user_id }}" id="{{ housemate.user_id }}">
          {{ housemate.name }}
        </a>
    </li>  
    {% endfor %}
 </ul>

<p>Search for and add housemates: </p>

<form action="/add_housemates" method="POST">
    Search name:<input type="text" name="housemate_name">
    <input type="submit" class="btn-secondary">
</form> 
{% endblock %}


{% block content %}

<div class="card mb-3" style="width: 800px; height: 300px">
  <div class="row no-gutters">
    <div class="col-md-6">
      <img src="{{ party.image }}" class="card-img" style="height:298px;">
  
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{ party.title }}</h5>
        <p class="card-text"><small class="text-muted">{{ start }}{{ end }}</small></p>
        <form action="/edit_event_des/{{ party.event_id }}" method="POST">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Edit Event Description</label>
            <textarea name="event_des" class="form-control" id="exampleFormControlTextarea1" rows="3" value="{{ party.description }}"
            ></textarea>
          </div>
          <input type="submit" class="btn-primary" value="Submit Changes">
        </form>        
      </div>
      <div class="card-footer bg-transparent">
        <form action="/upload_party_pic/{{ party.event_id }}" method="POST" enctype="multipart/form-data" class="btn-sm">
          <input type="file" class="btn-sm" name="file">
          <input type="submit" class="btn-sm" value="Upload">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}




