{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}


{% block side %}

    <div class="row align-items-center justify-content-center
               static-height" style="height:200px;">
        <div class="align-items-center">
    <img src={{user.profile_pic}} class="rounded-circle profile-pic" width="130" height="130">
    
    
</div>
</div>
<p class="greeting">User: {{ user.name }}</p>
<p class="greeting">House: {{ user.calendar.house_name }}</p>

<div class="housemate-list">

 <ul> 
    {% for housemate in user.get_housemates() %}
     <li>
      
        <a class="housemates" href="/profile/{{ housemate.user_id }}" id="{{ housemate.user_id }}">
        <i class="fas fa-user-friends"></i>
          {{ housemate.name }}
        </a></li>
   </span>  
    {% endfor %}
 </ul>
</div>



<form action="/add_housemates" method="POST" class="search-hm" style= "padding-top:200px;">
<div class="form-group">
  <input
    type="text"
    class="form-control"
    id="basicTextInputHelp"
    name="housemate_name"
    placeholder="Search"
  >
  <small class="form-text text-muted">
    Search for users by name
  </small>
</div>

</form> 
{% endblock %}


{% block content %}

<div class="card mb-3" style="width: 800px; height: 300px">
  <div class="row no-gutters">
    <div class="col-md-6">
      <img src="{{ party.image }}" class="card-img" style="height:298px;">
  
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{ party.title }}</h5>
        <p class="card-text"><small class="text-muted">{{ start }}{{ end }}</small></p>
        <form action="/edit_event_des/{{ party.event_id }}" method="POST">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Edit Event Description</label>
            <textarea name="event_des" class="form-control" id="exampleFormControlTextarea1" rows="3" value="{{ party.description }}"
            ></textarea>
          </div>
          <input type="submit" class="btn-primary" value="Submit Changes">
        </form>        
      </div>
      </div>
    <div class="card-footer" style="width: 800px;">
     
    <div class="form-group">
      <form action="/upload_file" method="POST" enctype="multipart/form-data">
        <label>
          Edit Profile Pic
        </label>
        <div class="custom-file" style="padding: 25px;">
          <input type="file" class="custom-file-input" id="customFile" name="file">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <input type="submit" class="btn-primary" value="Upload">
      </form>
    </div>
  </div>
    </div>
  </div>


{% endblock %}




