{% extends 'base.html' %}

{% block side %}

<div class="row align-items-center justify-content-center
           static-height" style="height:200px;">
    <div class="align-items-center">
        <img src={{ user.profile_pic }} class="rounded-circle profile-pic" width="130" height="130"> 
    </div>
</div>

<p class="greeting">Hello: {{ user.name }}</p>


<form action="/find_calendar">
       <div class="form-group">
              <label for="basicTextInputHelp">Search:</label>
              <input
                type="text"
                class="form-control"
                id="basicTextInputHelp"
                name="house_name"
              >
              <small class="form-text text-muted">
                Search for existing calendar by House Name.
              </small>
            </div>
        <input type="submit" class="btn-primary" value="find">  
</form>



<a href="/create_cal">
    <button class="btn-primary" type="button">Create New Calendar</button>
</a>
<p>Find House: </p>
<form action="/find_calendar">
    <input type="text" name="house_name">
    <input type="submit" class="btn-primary" value="find">
</form>

{% endblock %}

{% block content %}

<p>WELCOME TO ROOMIES</p>

{% endblock %}