{% extends 'base.html' %}

{% block title %}Find Roomies{% endblock %}

{% block content %}

<h3>Users:</h3>
<div>
    {% if users %}
   
    <ul>
        {% for housemate in users %}
        <li> 
            <img src="{{ housemate.profile_pic }}" class="rounded-circle" width="30" height="30">
             <a href="/profile/{{ housemate.user_id }}"> 
              {{ housemate.name }} {{ housemate.username }}, ({{ housemate.user_id }})
            </a>  
            <button class="invite" id="{{ housemate.user_id }}">Invite</button>
        </li>
        {% endfor %}
    </ul>
    
    {% else %}
         <p>Sorry no available users with that name found!</p>
    {% endif %}
</div>
<script src='/static/access.js'></script>
{% endblock %}