{% extends 'base.html' %}

{% block title %}Find Roomies{% endblock %}

{% block side %}


    <div class="row align-items-center justify-content-center
               static-height" style="height:200px;">
        <div class="align-items-center">
    <img src={{user.profile_pic}} class="rounded-circle profile-pic" width="130" height="130">
    
    
</div>
</div>

<p class="greeting">House: {{ user.calendar.house_name }}</p>

<div class="housemate-list">

 <ul> 
    {% for housemate in user.get_housemates() %}
     <li>
      
        <a class="housemates" href="/profile/{{ housemate.user_id }}" id="{{ housemate.user_id }}">
        <i class="fas fa-user-friends"></i>
          {{ housemate.name }}
        </a></li>
   </span>  
    {% endfor %}
 </ul>
</div>



<form action="/add_housemates" method="POST" class="search-hm" style= "padding-top:200px;">
<div class="form-group">
  <input
    type="text"
    class="form-control"
    id="basicTextInputHelp"
    name="housemate_name"
    placeholder="Search"
  >
  <small class="form-text text-muted">
    Search for users by name
  </small>
</div>

</form> 
{% endblock %}

{% block content %}

{% if users %}
{% for housemate in users %}
<div class="row" style="display: inline-block;">
    <div class="col-3" style="display: inline-block;">
        <div class="card" style="width: 200px;">
          <img src="{{ housemate.profile_pic }}" style="width: 200px; height:200px" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ housemate.name }}</h5>
            <small class="form-text text-muted" style="padding-bottom: 10px;">ID: {{housemate.user_id}}</small>
            <p>{{ housemate.username }}</p>
            <button class="invite btn-primary" id="{{ housemate.user_id }}">Invite</button>
            <a href="/profile/{{ housemate.user_id }}">
                <button class="btn-primary" id="{{ housemate.user_id }}">Profile</button>
            </a>
          </div>
        </div>
    </div>
</div>
{% endfor %}

{% else %}

<p>Sorry all the users with that name already belong to a house!</p>

{% endif %}

<script src='/static/access.js'></script>
{% endblock %}