{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<body>
<div class="container">
<div class="row">

<form action="/login" method="POST">
  <div class="form-group">
    <label for="exampleInput">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1"
    name="password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember Me</label>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>  
  <a class="btn btn-primary" href="http://localhost:5000/register" role="button">Register</a>
</form>
</div>
</div>
</body>
{% endblock %}