{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block side %}


    <div class="row align-items-center justify-content-center
               static-height" style="height:200px;">
        <div class="align-items-center">
    <img src={{user.profile_pic}} class="rounded-circle profile-pic" width="130" height="130">
    
    
</div>
</div>

{% if session['cal_id']%}
<p class="greeting">House: {{ user.calendar.house_name }}</p>

<div class="housemate-list">

 <ul> 
    {% for housemate in user.get_housemates() %}
     <li>
      
        <a class="housemates" href="/profile/{{ housemate.user_id }}" id="{{ housemate.user_id }}">
        <i class="fas fa-user-friends"></i>
          {{ housemate.name }}
        </a></li>
   </span>  
    {% endfor %}
 </ul>
</div>

<form action="/add_housemates" method="POST" class="search-hm" style= "padding-top:200px;">
<div class="form-group">
  <input
    type="text"
    class="form-control"
    id="basicTextInputHelp"
    name="housemate_name"
    placeholder="Search"
  >
  <small class="form-text text-muted">
    Search for users by name
  </small>
</div>

</form> 
{% else %}

<p class="greeting">Hello: {{ user.name }}</p>


<form action="/find_calendar">
       <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="basicTextInputHelp"
                name="house_name"
              >
              <small class="form-text text-muted">
                Search for existing calendar by House Name.
              </small>
            </div>
        <input type="submit" class="btn-primary" value="find">
        <a href="/create_cal">
          <button type="button" style="display: inline;" class="btn-primary">Create Calendar
          </button>
        </a>
</form>





{% endif %}

{% endblock %}

{% block content %}

<div class="card mb-3" style="width: 800px; height: 300px">
  <div class="row no-gutters">
    <div class="col-md-6">
      <img src="{{ party.image }}" class="card-img" style="height:298px;">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{ party.title }}</h5>
        <p class="card-text"><small class="text-muted">{{ start }}{{ end }}</small></p>
        <p class="card-text">{{ party.description }}</p>
        {% if party.user_id == session['user_id'] %}
          <a href="/edit_party/{{ party.event_id }}"><button class="btn btn-primary">Edit Event Details</button></a>
        {% endif %}    
      </div>
    </div>
  </div>
</div>


{% endblock %}



