{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="overflow-auto">
<div class="container-fluid">
    <div class="row">
        <div class="col-7 ">
            <h1>{{ party.title }}</h1>
            <h5>{{ start }}{{ end }}</h5>
            <p>{{ party.description }}</p>
        </div>
        <div class="col-5">
            <img src="{{ party.image }}" alt="" width="700">
        </div>
    </div>            
</div>

    <!--  {% if party.user_id == session['user_id'] %}
     <a href="/edit_party/{{ party.event_id }}"><button>Edit Event Details</button></a>
     {% endif %}
 -->
    



<!-- <div class="card mb-3 overflow-auto" style="width: 28rem">
  <img src="{{ party.image }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ party.title }}</h5>
    <p class="card-text"><small class="text-muted">{{ party.title }}</small></p>
    <p class="card-text">{{ party.description }}</p>   
  </div>
   {% if party.user_id == session['user_id'] %}
    <a href="/edit_party/{{ party.event_id }}"><button class="btn btn-primary">Edit Event Details</button></a>
    {% endif %}
</div> -->

</div>

{% endblock %}