{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block side %}

<p class="lead" >House name: {{ my_user.calendar.house_name }}</p>
 <p>Your housemates: </p>
 <ul> 
    {% for housemate in my_user.get_housemates() %}
     <li>
        <img src="{{ housemate.profile_pic }}" class="rounded-circle" width="30" height="30">
        <a href="/profile/{{ housemate.user_id }}" id="{{ housemate.user_id }}">
          {{ housemate.name }}
        </a>
    </li>  
    {% endfor %}
 </ul>

<p>Search for and add housemates: </p>

<form action="/add_housemates" method="POST">
    Search name:<input type="text" name="housemate_name">
    <input type="submit" class="btn-secondary">
</form> 
{% endblock %}

{% block content %}

<div class="row align-items-center justify-content-center static-height container-fluid">
        <div class="card" style="width: 28rem;">
            {% if user.user_id == session['user_id'] %}
                <img src="{{ user.profile_pic }}" class="card-img-top rounded" alt="...">
                <form action="/upload_file" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file"><input type="submit" value="Upload">
                </form> 
            {% else %}
                <img src="{{ user.profile_pic }}" class="card-img-top rounded" alt="...">
            {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ user.name }}</h5>
                <p class="card-text"> Username: {{ user.username }}</p>
                <p class="card-text">{{ house_name }}</p>
                {% if user.cal_id == none %}
                   <!--  <a href="#" class="btn btn-primary">Invite</a> -->
                   <button class="invite btn btn-primary" id="{{ user.user_id }}">Invite</button>     
                {% endif %}
              </div>
        </div>
</div>
<script src='/static/access.js'></script>


{% endblock %}