{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block side %}

<p class="lead" >House name: {{ my_user.calendar.house_name }}</p>
 <p>Your housemates: </p>
 <ul> 
    {% for housemate in my_user.get_housemates() %}
     <li>
        <img src="{{ housemate.profile_pic }}" class="rounded-circle" width="30" height="30">
        <a href="/profile/{{ housemate.user_id }}" id="{{ housemate.user_id }}">
          {{ housemate.name }}
        </a>
    </li>  
    {% endfor %}
 </ul>

<p>Search for and add housemates: </p>

<form action="/add_housemates" method="POST">
    Search name:<input type="text" name="housemate_name">
    <input type="submit" class="btn-secondary">
</form> 
{% endblock %}

{% block content %}

<div class="card mb-3" style="width: 800px; height: 300px">
  <div class="row no-gutters">
    <div class="col-md-5">
      {% if user.user_id == session['user_id'] %}
        <img src="{{ user.profile_pic }}" class="card-img rounded" style="height:298px; width:300px;">
        <form action="/upload_file" method="POST" enctype="multipart/form-data">
          <input type="file" name="file"><input type="submit" value="Upload">
        </form> 
      {% else %}
        <img src="{{ user.profile_pic }}" class="card-img-top rounded" style="height:298px; width:300px;" alt="...">
      {% endif %}
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <h2 class="card-title" style="padding-top:130px;">{{ user.name }}</h2>
        <p class="card-text">Username: {{ user.username }}</p>
        <p class="card-text">{{ house_name }}</p>
        {% if user.cal_id == none %}
          <button class="invite btn btn-primary" id="{{ user.user_id }}">Invite</button>     
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="width: 800px; height: 50px">
<h5 class="card-title" style="padding-left:12px; padding-top: 12px;">{{ user.name }}'s Events</h5>
</div>

{% for party in events %}
<div class="card mb-3" style="width: 800px; height: 300px">
  <div class="row no-gutters">
    <div class="col-md-6">
      <img src="{{ party.image }}" class="card-img" style="height:298px;">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{ party.title }}</h5>
        <p class="card-text">{{ party.description }}</p> 
        <a href="/party/{{ party.event_id }}"><button class="btn btn-primary">Event Page</button></a>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<script src='/static/access.js'></script>


{% endblock %}